.banner {
  max-height: 300px;
  height: auto;
  aspect-ratio: 16/9;
  width: 100%;
  user-select: none;
  margin-bottom: 1rem;

  img {
    object-fit: cover;
    max-width: none;
    height: 100%;
    width: 100%;
    margin: 0;
  }
}
